body{
    margin: 0px;
    background-color: #191919;
    text-align: center;
    /*-webkit-app-region: drag;*/
}
div#screenshot{
    width: 711px;
    height: 400px;
    background-color: rgba(128, 128, 128, 0.32);
    background-image: url("screencap.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20px;
    /*border: 1px solid rgba(255, 0, 0, 0.28);*/
}
div#buttons{
    text-align: right;
    background-color: rgba(0, 0, 0, 0.72);
}
div.button{
    display: inline-block;
    position: relative;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    background-color: rgba(255, 255, 255, 0.21);
    cursor: default;
    font-family: monospace;
    font-weight: bold;
}

svg {
    left: 0px !important;
    background-color: rgba(0, 255, 173, 0.2);
}

div#actions{
    background-color: #292929;
    width: 711px;
    height: 310px;
    display: inline-block;
    margin-top: 10px;
}

div#list{
    overflow-y: auto;
    height: 271px;
}

div.swipe{
    text-align: left;
    background-color: rgba(255, 255, 255, 0.13);
    /*display: -webkit-box;*/
    margin: 10px;
    padding: 9px;
    color: white;
    font-size: 15px;
    font-family: monospace;
}

div.swipe form {
    /*display: flex;*/
    width: 100%;
    height: 19px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: monospace;
}

div.swipe label {
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 19px;
}

div.swipe input {
    width: 32px;
    height: 18px;
    margin-right: 9px;
    text-align: right;
    padding-right: 4px;
    border: 0px;
}

div.swipe button.go {
    float: right;
}

.fa {
    position: relative;
    top: 1px;
    right: -2px;
}